.container {
  margin-bottom: auto;
  margin-top: 15%;
  margin-right: auto;
  margin-left: auto;
  width: 30vh;
  border-radius: 10px;
  border: 1px solid red;
  padding: 10px;
}

h1 {
  text-align: center;
  width: 20vw;
  border-radius: 10px;
  border: 1px solid red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-650%);
  border-radius: 20px;
}

.tip {
  text-align: right;
  color: red;
  font-size: xx-large;
}
